# 1

In [10]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

# 2

In [11]:
import sys
print(sys.version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

# 3

In [14]:
import datetime

current_date_time = datetime.datetime.now()
print(current_date_time)

2024-08-03 00:21:51.624741

# 4

In [15]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius**2
print("The area of the circle with radius is: ", area)

Enter the radius of the circle:  12.5

The area of the circle with radius is:  490.8738521234052

# 5

In [16]:
first_name = input("Enter your First Name: ")
last_name = input("Enter your Last Name: ")

print(f"{last_name} {first_name}")

Enter your First Name:  Syeda
Enter your Last Name:  Zainab

Zainab Syeda

# 6

In [21]:
first_num = int(input("Enter number"))
scnd_num = int(input("Enter number"))

print(first_num + scnd_num)

Enter number 12
Enter number 2

14

# 7

In [24]:
marks = []
for i in range(1, 6):
    mark = float(input(f"Enter marks for subject {i}: "))
    marks.append(mark)

total_marks = sum(marks)
average_marks = total_marks / 5

# Determine grade based on average marks
if average_marks >= 90:
    grade = 'A+'
elif average_marks >= 80:
    grade = 'A'
elif average_marks >= 70:
    grade = 'B'
elif average_marks >= 60:
    grade = 'C'
else:
    grade = 'D'

# Generate mark sheet
print("\nMark Sheet")
print("------------------------")
print("Total Marks: ",total_marks)
print(f"Average Marks: {average_marks:.2f}")
print("Grade: ", grade)

Enter marks for subject 1:  12
Enter marks for subject 2:  20
Enter marks for subject 3:  30
Enter marks for subject 4:  40
Enter marks for subject 5:  52

Mark Sheet
------------------------
Total Marks: 154.0
Average Marks: 30.80
Grade: D

# 8

In [25]:
number = int(input("Enter a number: "))
if (number % 2) == 0:
   print("{0} is Even".format(number))
else:
   print("{0} is Odd".format(number))

Enter a number:  5

5 is Odd

# 9

In [27]:
list = [10, 20, 30]
length = len(list)
print("Length of the list is: ", length)

Length of the list is:  3

# 10

In [29]:
sum_list = [1, 2, -8]
sum_numbers = 0
for x in sum_list:
    sum_numbers += x

print(sum_numbers)

-5

# 11

In [30]:
list = [1, 2, -8]
print(max(list))

2

# 12

In [32]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

print("Elements less than 5 is given below:")
for element in a:
    if element < 5:
        print(element)

Elements less than 5 is given below:
1
1
2
3